:root {
    --variable-text-color: white;
    --accent-border: medium solid white;
    --accent-border-radius: 25px;
    --standard-font-size: 4.5vh;
    --larger-font-size: 5.5vh;
}
body > div {
    height: 100%;
}
#homeScreen, #playersScreen {
    width: 100%;
    height: 100%;
    background-color: #009933;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    display: table;
}
#homeScreen > :nth-child(1) {
    height: 35%;
}
#homeScreen > :nth-child(2) {
    height: 35%;
}
#homeScreen > :nth-child(1) > :nth-child(1){
    width: 30%;
}
#homeScreen #hsRow1 table{
    width: 75%;
    height: 95%;
    margin-top: 0px;
    margin: auto;
    font-size: var(--standard-font-size);
    border: var(--accent-border);
    border-radius: var(--accent-border-radius);
}
#homeScreen #hsRow1 input{
    height: 20%;
    width: 70%;
    font-size: var(--larger-font-size);
    font-weight: bold;
}
#chipInfoTable > :nth-child(even) td {
    color: var(--variable-text-color);
    padding: 0px;
}

#homeScreen > :nth-child(1) > :nth-child(2){
    width: 40%;
}
#placeInfoTable > tr > :nth-child(2) {
    color: var(--variable-text-color);
}#placeInfoTable > :nth-child(5) {
    font-size: var(--larger-font-size);
}
#homeScreen > :nth-child(2) table{
    margin: auto;
    width: 50%;
    height: 80%;
    font-size: 25vh;
    color: var(--variable-text-color);
    border: var(--accent-border);
    border-radius: var(--accent-border-radius);
}
#homeScreen > :nth-child(3) table{
    margin: auto;
    width: 100%;
    height: 90%;

}
#homeScreen > :nth-child(3) > :nth-child(2) table {
    border: var(--accent-border);
    border-radius: var(--accent-border-radius);
}
#homeScreen > :nth-child(3) table > :nth-child(1) {
    height: 30%;
    font-size: var(--standard-font-size);
}
#homeScreen > :nth-child(3) table > :nth-child(2) {
    height: 70%;
    font-size: 11vh;
    color: var(--variable-text-color);
}
#playersScreen > :nth-child(1) {
    height: 10%;
    width: 100%;
}
#playersScreen > :nth-child(1) input {
    height: 75%;
    width: 40%;
    font-size: var(--standard-font-size);
    font-weight: bold;
}
#playersScreen > :nth-child(2) {
    vertical-align: top;
}
#playersScreen > :nth-child(2) table {
    table-layout: fixed;
    width: 100%;
    font-size: var(--standard-font-size);
    font-weight: bold;
}
/* table, td {
    border: 1px solid black;
} */


.top-row {
    height: 30%;
}
.column1 {
    width: 30%;
}
.column2 {
    width: 40%;
}
.column3 {
    width: 30%;
}
.info-table {
    width: 75%;
    height: 95%;
    margin-top: 0px;
    margin: auto;
    font-size: 5vh;
}
.info-row {
    width: 331px;
}
.button-style1 {
    height: 20%;
    width: 70%;
    font-size: 6vh;
    font-weight: bold;
}
.button-style2 {
    height: 75%;
    width: 40%;
    font-size: 5vh;
    font-weight: bold;
}
.button-style3 {
    height: 75%;
    width: 75%;
    font-size: 4vh;
    font-weight: bold;
}
.places-table {
    font-size: 5vh;
    height: 95%;
    margin: auto;
    width: 75%;
}
.pot-text {
    font-size: 6vh;
}
.time-row {
    height: 35%;
}
.time-table__normal {
    margin: auto;
    width: 50%;
    height: 80%;
    font-size: 25vh;
}
.blinds-row {
    height: 25%;
}
.blinds-label {
    height: 30%;
    font-size: 5vh;
}
.blinds-text {
    height: 70%;
    font-size: 11vh;
}
.blinds-table {
    margin: auto;
    width: 100%;
    height: 90%;
}
.currentround-cell {
    width: 40%;
}
.border {
    border: medium solid white;
}
.white-text {
    color: white;
}
.valign-top {
    vertical-align: top;
}
.playerscreen-row1 {
    height: 10%;
    width: 100%;
}
.playerscreen-row1 .col1 {
    width: 50%;
}
.table-players {
    table-layout: fixed;
    width: 100%;
    font-size: 5vh;
    font-weight: bold;
}
.table-players th {
    width: 20%;
    height: 5vh;
    border: medium solid white;
}
.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 2px solid black;
    border-radius: 25px;
    z-index: 9;
    width: 18%;
    height: auto;
    padding: 20px;
    margin-left: -9%;
    margin-top: -6%;
    background-color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.popup input[type=button] {
    margin: 15px;
    margin-top: 5px;
    margin-bottom: 0px;
}
.popup p {
    margin: 0px;
    color: red;
}
html, body {
    height: 100%;
    margin: 0px;
}

@media (min-aspect-ratio: 3/1) {
  .button-style3 {
    font-size: 5vw;
  }
}